@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

li:hover>.hover-border::before {
  right: 0;
}


.hover-border::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  height: 4px;
  background-color: #004a81;
  transition: .3s ease-in-out;
  transition-property: background-color, border-color, box-shadow, height, left, right, opacity;
  left: 0;
  right: 100%;
}

.bg-image {
  background-image: url("https://www.nke.at/templates/yootheme/cache/a6/istock-1139469336_1-a636a831.webp");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.swiper-button-disabled,
.swiper-button-disabled:hover {
  color: #000 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  width: 2rem;
}

.testimonials.swiper-pagination-bullet-active {
  background-color: aliceblue;
}

html,
p {
  font-family: 'Helvetica Neue', sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

footer,
footer li a {
  @apply text-slate-300;
}

footer a {
  @apply text-white underline;
}